<div class="container-fluid page-signin-alt">
  <div class="col-xs-12 col-sm-4 col-sm-offset-2">
    <div ng-include="'templates/student/register_form.html'"></div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div ng-include="'templates/student/login_form.html'"></div>
  </div>
</div>
