/*********************************************************************
*
*  layout/checkout/cart
*  Cart page styles
*
*********************************************************************/
.cart {
  .cart-product {
    .form-control {
      height: 30px;
    }
  }

  .image-container {
    max-width: 100%;
    height: 135px;
    overflow: hidden;
    position: relative;
    img.cover-photo {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }
    @media(max-width: $screen-desktop) {
      margin-bottom: 10px;
    }
  }

  .cart-product {
    font-family: 'Roboto';
    color: $gray;
    .panel-heading {
      margin: 0;
      background-color: transparent;
      .panel-title {
        color: $gray;
        font-size: 25px;
        strong {
          font-weight: 300;
        }
      }
      .panel-title, .pull-right {
        vertical-align: middle;
      }
      i.fa {
        color: $gray;
        font-size: 22px;
      }
    }

    .cart-subtitle p {
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 100;
    }

    .teachers {
      padding: 0;
      [class*="col-"] {
        padding: 0;
      }
      label {
        float: left;
        color: $dark-gray;
        font-size: 18px;
        font-weight: 300;
        margin-right: 10px;
        margin-top: -4px;
      }
      h5 {
        margin: 0;
        font-size: 18px;
        font-weight: 100;
        color: $gray;
        padding-left: 121px;
        margin-bottom: 5px;
      }
    }

    .price {
      padding: 0;
      label, h4 {
        display: inline-block;
      }
      label {
        color: $dark-gray;
        font-size: 18px;
        font-weight: 300;
      }
      h4 {
        background-color: $bg-light-gray;
        padding: 5px 10px;
        font-weight: 100;
        color: $gray;
        font-size: 18px;
      }
    }
  }

  p {
    margin-bottom: 20px;
  }
}

.cart-total {
  .courses {
    margin-bottom: 10px;
  }

  .total {
    margin-bottom: 20px;
  }

  .title {
    font-weight: bold;
    color: $text-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }

  .title, .price, .total {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto';
  }

  [class*="col-"] {
    padding: 0;
  }

  .course {
    .table-cell:first-child {
      width: 100%;
    }
  }

  .price {
    min-width: 90px;
    .promotional {
      text-decoration: line-through;
      color: red;
    }
  }

  .total {
    font-size: 20px;
    .pull-right {
      font-weight: 700;
    }
  }

  .coupon {
    input[type="text"] {
      height: 46px;
      border-radius: 0;
    }
    button[type="button"] {
      height: 46px;
    }
  }

  .btn-lg {
    width: 100%;
  }
}

.home-description {
  .text-area-white {
    p {
      font-weight: 300;
    }
  }
}
