<section class="topic panel help">
  <div class="panel-heading">
    <strong class="title panel-title">
      <i class="fa fa-envelope"></i>
      Precisa de ajuda?
    </strong>
  </div>
  <div class="panel-body">
    <p>
      Envie um email para <a href="mailto:duvida@cursoexato.com.br" title="duvida@cursoexato.com.br">
        duvida@cursoexato.com.br
      </a> ou entre em contato neste <a href="" title="contato">link</a>
    </p>
  </div>
</section>
