<section class="topic panel payment-methods">
  <div class="panel-heading">
    <strong class="title panel-title">
      <i class="fa fa-credit-card"></i>
      Formas de pagamento
    </strong>
  </div>
  <div class="panel-body">
    <ul class="payment-types">
      <li>
        <i class="fa fa-check"></i>
        <span>Boleto Bancários (à vista)</span>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <span>Cartão de Débito</span>
      </li>
      <li>
        <i class="fa fa-check"></i>
        <span>Cartão de Crédito (em até 10x)</span>
      </li>
    </ul>
    <div class="text-center">
      <img src="assets/images/formas-pagamento-cartoes.png" alt="Formas de Pagamento">
    </div>
    <div class="text-center">
      <img src="assets/images/formas-pagamento-debito.png" alt="Formas de Pagamento">
      <img src="assets/images/formas-pagamento-boleto.png" alt="Formas de Pagamento">
    </div>
    <!-- <div class="text-center">
      <img style="max-width: 40%;" src="assets/images/moip.png" alt="MoIP">
    </div> -->
  </div>
</section>
