<div class="panel">
  <div class="secure-site">
    <div class="row table">
      <div class="col-xs-4 lock table-cell">
        <img class="pull-left" src="assets/images/lock.png" alt="Site seguro">
      </div>
      <div class="col-xs-8 table-cell">
        <h4><strong>Este site é seguro</strong></h4>
        <p>Possuímos segurança SSL, a mesma utilizada em bancos online, garantindo a criptografia de suas informações.</p>
      </div>
    </div>
    <div class="row table" style="margin-top: 10px;">
      <div class="col-xs-4 table-cell">
        <img src="assets/images/aws.png" width="100%" alt="Amazon Web Services">
      </div>
      <div class="col-xs-4 table-cell">
        <img src="assets/images/moip.png" width="100%" alt="MoIP">
      </div>
      <div class="col-xs-4 table-cell">
        <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=cOgBuInvPIKcjurG96qea0LtVll3Y6UnK6RSR6PsxhZ6ejjPps"></script>
        <img style="cursor:pointer;cursor:hand" width="100%" src="https://seal.godaddy.com/images/3/en/siteseal_gd_3_h_l_m.gif" onclick="verifySeal();">
      </div>
    </div>
  </div>
</div>
