/*********************************************************************
*
*  layout/header
*  school header styles
*
*********************************************************************/

.navbar.navbar-default {
  height: $navbar-height;
}

.school-header {
  .navbar-brand {
    padding: 5px;

    h2 {
      margin-top: 8px;
    }

    img {
      max-height: 100%;
    }

    height: $navbar-height;
  }

  .navbar-default {
    border: none;
  }

  $navbar-nav-padding: (($navbar-height - 50px)/2);

  .navbar-toggle.collapsed {
    $navbar-toggle-margin: (($navbar-height - 34px)/2);
    margin: $navbar-toggle-margin 15px;
  }

  .navbar-collapse {
    background-color: white;
  }

  .navbar {
    margin-bottom: 0;
    background: $white;

    .navbar-nav {
      position: relative;
      @media (min-width: $screen-tablet) {
        padding: $navbar-nav-padding 0;
      }
    }

    li {
      a {
        height: auto !important;
        text-transform: uppercase;
        margin: 10px;
        font-size: 16px !important;
        max-height: $navbar-height - 20px;
      }
      a:not(.btn-green) {
        padding: 5px;
        @include colorful-link($gray);

        &.cart-link {
          border-radius: 100%;
          border: 1px solid $gray;
          padding: 4px 7.5px;
        }
      }
      a.btn-green {
        @extend .btn-green;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      &.current {
        background-color: $bg-light-gray;
        margin-top: -$navbar-nav-padding;
        margin-bottom: -$navbar-nav-padding;
        height: $navbar-height;
        a {
          padding: 0 10px;
          margin: 0 15px;
          line-height: $navbar-height;
          height: $navbar-height;
          max-height: none;
        }
      }
    }
  }

  // .dropdown-menu li a {
  //   color: #000 !important;
  // }

}

.school-header .navbar {
  .dropdown-menu {
    padding: 0;
    li a:not(.btn-green) {
      margin: 0;
      padding: 15px;
    }
  }
}
