/*********************************************************************
*
*  sections/home
*  Example section file
*  e.g. For when there's a different section on home
*
*********************************************************************/
// home header
.home.main-header {
  .image {
    max-height: 270px;

    @media (max-width: $screen-small) {
      margin-bottom: 20px;
    }

    img {
      // make images bigger on desktop and tablet
      @media (min-width: $screen-tablet) {
        height: 270px;
        max-height: 270px;

        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
      }
    }
  }

  .info {
    padding: 0 30px;

    // text align to center only on tablets and smartphones
    @media (max-width: $screen-tablet) {
      text-align: center;
    }

    .title {
      @media (max-width: $screen-small) {
        font-size: 40px;
        line-height: 1.5em;
        text-align: center;
      }

      color: #000;
      min-height: 25px;
      text-decoration: none;
    }

    .subtitle {
      @media (max-width: $screen-small) {
        font-size: 24px;
        line-height: 32px;
      }

      font-weight: 300;
      font-size: 20px;
      line-height: 40px;
      margin-top: 15px;
    }
  }
}

// home courses list
.home.course-list {
  background-color: $bg-light-gray;
  padding: 40px 0;

  .btn-transparent-blue {
    margin: 20px 0 0 0;
  }

  .filter-select {
    margin-bottom: 40px;

    label {
      font-weight: 100;
      font-size: 18px;
      margin-right: 5px;
      font-family: 'Roboto';
    }

    select {
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
      background: $white;
      border: none;
      padding: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}

.owl-card-item {
  margin: 0 $grid-gutter-width;
  .course-card {
    margin-left: auto;
    margin-right: auto;
  }
}

.owl-card-controls {
  padding-bottom: 20px;
  button {
    border: none;
    background: none;
    opacity: 0.7;
    &.active {
      opacity: 1;
    }
    &:focus {
      outline: 0;
    }
    i {
      color: $gray;
      font-size: 24px;
    }
  }
}
