/*********************************************************************
*
*  layout/main
*  Main content styles
*
*********************************************************************/
img.full-width {
  width: 100% !important;
  height: auto !important;
  @include transform(translateY(-50%))
}

img.full-height {
  height: 100% !important;
  width: auto !important;
  // @include transform(translateX(-50%))
}

.main-header {
  margin: 0;
  padding: 30px;
  background: $light-gray;
  overflow: auto;
  position: relative;

  &#header-banners {
    padding: 0;
  }

  .banner {
    padding: 50px;
    min-height: 400px;
    display: table;
    width: 100%;
  }

  &.small-header-banner {
    height: 150px;
    min-height: none !important;
    .banner {
      min-height: none;
      height: 150px;
    }
  }

  .owl-dots {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50%;
    @include transform(translateX(-50%));
    .owl-dot {
      vertical-align: middle;
      content: "";
      background-color: $white;
      width: 9px;
      height: 9px;
      margin: 4px;
      border-radius: 100%;
      display: inline-block;
      opacity: 0.6;
      &.active, &:hover {
        opacity: 0.9;
      }
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    img.cover-photo {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translateY(-50%) translateX(-50%));
      &.blurred {
        @include filter(blur(50px));
      }
    }
    .black-overlay, .semi-black-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .black-overlay {
      background-color: rgba(0, 0, 0, 0.6)
    }
    .semi-black-overlay {
      background-color: rgba(0, 0, 0, 0.3)
    }
  }

  .text-area {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    h2, p {
      background-color: white;
      color: $gray;
      font-weight: 300;
      padding: 10px;
      text-align: justify;
      b {
        font-weight: 700;
      }
    }
    h2 {
      font-size: 40px;
      margin-bottom: 0;
      padding-bottom: 5px;
      @media(min-width: $screen-sm) {
        max-width: 50%;
      }
    }
    p {
      font-size: 20px;
      padding-top: 5px;
      @media(min-width: $screen-sm) {
        max-width: 40%;
      }
    }
    &.left {
      text-align: left;
    }
    &.center {
      h2, p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
      text-align: center;
    }
    &.right {
      h2, p {
        margin-left: auto;
      }
      text-align: right;
    }
  }

  .text-area {
    h2.white-static-page-title {
      background-color: transparent;
      color: $white;
      font-size: 40px;
      font-weight: 700;
      max-width: none;
      padding: 0;
      margin: 0;
    }
  }

  .text-area-white {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    h2, p {
      font-family: 'Roboto';
      color: white;
    }
    h2 {
      margin: 0;
      font-weight: 300;
    }
    p {
      margin-top: 30px;
      font-weight: 100;
      font-size: 20px;
    }
  }

  @media(max-width: $screen-small) {
    min-height: 400px;
  }

  @media(min-width: $screen-tablet) {
    min-height: 250px;
  }

  .image {
    position: relative;
    max-height: 200px;

    img {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .info {
    color: $dark-gray;
    font-family: 'Open Sans', sans-serif;

    .title {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 300;
      word-wrap: break-word;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 100;
      word-wrap: break-word;
    }
  }
}

.page-title {
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}

.page-text {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 20px;
}

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: $screen-tablet) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: $screen-desktop) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}

@media (max-width: $screen-tablet) {
  .text-center-xs {
    text-align: center;
  }
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
  @media(min-width: $screen-small) {
    &.col-sm-offset-1 {
      padding-left: 8.333333%;
    }
  }
}

.table-cell-md {
  @media(min-width: $screen-desktop) {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
}

.secure-site {
  background-color: $bg-light-gray;
  padding: 20px;
  img {
    max-width: 100%;
  }
}

