/*********************************************************************
*
*  layout/page
*  Static page layout
*
*********************************************************************/
.page-body {
  background-color: $bg-light-gray;

  form {
    background-color: transparent;
    input.panel, textarea.panel {
      width: 100%;
      display: block;
      padding: 15px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 100;
    }
  }

  .page-title {
    margin-bottom: 30px;
  }

  form {
    [class*="col-xs"] {
      padding: 0;
    }
    padding-bottom: 60px;
  }
}

.panel.about {
  margin: 45px 0;
  font-family: 'Roboto';
  h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
  }
  p {
    font-weight: 100;
    font-size: 16px;
  }
  .lower-part {
    margin-top: 30px !important;
  }
}
