.course-card {
  background-color: $white;
  box-shadow: 2px 2px 15px rgba($dark-gray, 0.1);
  position: relative;
  margin-bottom: $grid-gutter-width;
  // height: 345px;
  max-width: 350px;

  .image {
    overflow: hidden;
    height: 135px;
    width: 100%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }
  }

  .category {
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: rgba($dark-gray, 0.8);
    color: $white;
    padding: 2px 10px;
    font-size: 18px;
    font-weight: 100;
  }

  .body {
    padding: 20px;
    height: 125px;
    h4.title, p {
      text-align: left;
    }

    .label-area {
      padding: 10px 0;
    }

    span.label {
      padding: 5px 10px;
      font-size: 14px;
      font-family: 'Roboto';
      font-weight: 500;
      margin-right: 10px;
      &.label-danger {
        background-color: $danger-color;
      }
      &.label-notice {
        background-color: $primary-color;
      }
      &.label-info {
        background-color: $info-color;
      }
    }
  }

  h4.title {
    font-size: 20px;
    font-weight: 500;
    color: $gray;
    text-transform: uppercase;
  }

  p.subtitle, .course-card-price {
    font-size: 18px;
    font-weight: 100;
    color: $gray;
  }

  .course-card-price {
    padding: 0;
    background-color: $bg-light-gray;
    margin-top: 10.5px;
  }

  .footer {
    padding: 10px;
    // height: 85px;

    .course-card-price {
      @media (max-width: $screen-lg) {
        width: auto;
        padding: 5px 20px;
        display: inline-block;
      }
    }

    button {
      @media (min-width: $screen-lg) {
        float: right;
      }
      @media (max-width: $screen-lg) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}
