<div class="dashboard">
  <div class="container dashboard-panel">
    <spinner name="course"></spinner>
    <!-- {{ course }} -->
    <!-- {{ lessonse_info }} -->
    <!-- {{ extraContents }} -->
    <div hide-on-load="course" class="row course-container">
      <div class="course-infos col-md-5">
        <div class="course-page panel text-center">
          <br/>
          <a link-to=".">
            <img class="course-page-image" ng-if="!course.image_url" ng-src="assets/images/missing-course-logo.png" alt="{{ course.name }}">
            <img class="course-page-image" ng-if="course.image_url" ng-src="{{ course.image_url }}" alt="{{ course.name }}">
          </a>
          <h4>{{ course.name }}</h4>
          <h4>{{ lessons_info.total }} aulas</h4>
        </div>

        <div ng-include="'templates/student/dashboard/progress_panel.html'"></div>
        <div ng-include="'templates/student/dashboard/extra_content_panel.html'"></div>
      </div>

      <div class="col-md-7">
        <div class="course-content panel">
          <div class="panel-heading">
            <strong class="panel-title">Conteúdo do curso</strong>
          </div>
          <div class="panel-body">
            <content-tree type="dashboard" ng-model="course" enrollment="enrollment" lessons-info="lessons_info" lazy="true"></content-tree>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
