<div class="course-card">
  <a link-to="school.dashboard.course.detail({ courseId: enrollment.school_product.library_resource.resource_id, enrollmentId: enrollment.id })">
    <div class="image">
      <img ng-if="enrollment.course.logo !== null" ng-src="{{ enrollment.course.logo }}" alt="{{ enrollment.course.title }}" class="image-full">
      <img ng-if="enrollment.course.logo === null" src="assets/images/missing-course-logo.png" alt="{{ enrollment.course.title }}" class="image-full">
    </div>
    <!-- <div class="category">
      {{ (enrollment.school_product.categories | filter: {flag: false})[0].title }}
    </div> -->
  </a>
  <div class="body">
    <h4 class="title">{{ enrollment.course.title }}</h4>
    <!-- <p max-lines="2" class="subtitle" ng-if="enrollment.course.subtitle != null">{{ enrollment.course.subtitle }}</p> -->
    <div class="label-area">
      <span class="label label-danger" ng-if="enrollment.status != 'active'">Matrícula Desativada</span>
      <span class="label label-notice" ng-if="enrollment.completed == true">Estudo Completo</span>
      <span class="label label-info" ng-if="enrollment.completed == false">Estudo Incompleto</span>
    </div>
  </div>


  <div class="footer row">
    <div class="col-xs-12 info">
      <div class="col-xs-6 text-center">
        <div class="course-card-price">{{ enrollment.course.product.price | money:'R$' }}</div>
      </div>
      <div class="col-xs-6 text-center">
        <button type="button" link-to="school.dashboard.course.detail({ courseId: enrollment.school_product.library_resource.resource_id, enrollmentId: enrollment.id })" class="pull-right btn btn-blue">Estudar</button>
      </div>
    </div>
  </div>
</div>
