<div class="panel topic" ng-if="extraContents.length > 0">
  <div class="panel-heading">
    <strong class="panel-title">
      <i class="fa fa-book"></i>
      Material complementar
    </strong>
  </div>
  <div class="panel-body">
    <spinner name="extraContents" class="small"></spinner>
    <ul class="modules">
      <li class="module-item root" ng-repeat="extraContent in extraContents">
        <div class="class">
          <div class="class-info" ng-class="{'active': $state.params.extraContentId == extraContent.id.toString()}">
            <media-icon type="extraContent.media.type"></media-icon>
            <span ng-class="{'label-info': $state.params.extraContentId == extraContent.id.toString()}">
              <a class="title" link-to="school.dashboard.course.extraContent.media({ extraContentId: extraContent.id })">{{ extraContent.title }}</a>
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
