<div class="course-progress panel topic">
  <div class="panel-heading">
    <strong class="panel-title">
      <i class="panel-title-icon fa fa-clock-o"></i>Progresso
    </strong>
  </div>

  <div class="panel-body">
    <header class="progress-header">
      <span class="label label-success">{{ lessons_info.completed.length }}</span> aulas completas
      <span class="label label-warning">{{ lessons_info.in_progress.length }}</span> aulas iniciadas
      <span class="label label-info">{{ lessons_info.total }}</span> aulas no total
    </header>
    <h4 class="progress-title">Barra de progresso</h4>
    <stacked-progress success="{{ lessons_info.completed.length }}" warning="{{ lessons_info.in_progress.length }}" total="{{ lessons_info.total }}"></stacked-progress>
  </div>
</div>
