/*********************************************************************
*
*  layout/dashboard/bulletin
*  Bulletin detail view styles
*
*********************************************************************/

.bulletin-panel {
  .bulletin-title {
    margin-top: 0;
  }
}
