/*********************************************************************
*
*  layout/dasboard/orders
*  Orders screen styles
*
*********************************************************************/
.order-items {
  .card {
    padding: 3px;
  }
}

.order-item-image {
  width: 200px;
  height: 150px;
}

.table-header {
  padding: 10px 35px;
}

#orders-accordion {
  .panel {
    margin-bottom: 20px;
    padding: 0;
    .row[role="tab"] {
      cursor: pointer;
      background-color: white;
      padding: 20px;
      i {
        @include transition(0.3s ease all)
      }
      &.collapsed {
        i {
          @include transform(rotate(180deg));
        }
      }
      &:hover {
        background-color: adjust-color(white, $lightness: -5%);
      }
    }
    .order-items {
      padding: 20px;
      text-align: center;
      .card {
        margin: 10px;
        float: none;
        display: inline-block;
      }
    }
  }
}

.dashboard {
  .alert-info.container {
    margin: 30px;
  }
}
