<article class="panel">
  <div class="panel-heading">
    <strong class="panel-title">Sobre o curso</strong>
  </div>
  <div class='panel-body course-description' ed-bind-html="schoolProduct.description"></div>
</article>
