<article class="course-content panel" ng-if="schoolProduct.library_resource.resource.type === 'course' && schoolProduct.library_resource.resource.has_content" hide-on-load="resource">
  <div class="panel-heading">
    <strong class="panel-title" ng-if="schoolProduct.library_resource.resource.type === 'course'">Conteúdo</strong>

    <strong class="panel-title" ng-if="schoolProduct.library_resource.resource.type === 'path'">
      {{ schoolProduct.path.courses.pagingInfo.totalCount }}
      <ng-pluralize count="schoolProduct.path.courses.pagingInfo.totalCount" when="{'one': ' curso ', 'other': ' cursos '}"></ng-pluralize>
      neste pacote
    </strong>
  </div>


  <div class="panel-body">
    <content-tree type="home" ng-model="schoolProduct.library_resource.resource" ng-if="schoolProduct.library_resource.resource.type === 'course'" lazy="true"></content-tree>

    <div class="col-xs-12" ng-if="schoolProduct.library_resource.resource.type === 'path'">
      <div class="form-group input-group input-group-lg">
        <span class="input-group-addon no-background"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Buscar pelo nome do curso..." ng-change="getCourses()" ng-model="courseFilters.name">
        <span class="input-group-btn">
          <button class="btn" type="button" ng-click="getCourses()">Buscar</button>
        </span>
      </div>

      <spinner name="courses" class="small"></spinner>

      <div class="row course-path" ng-repeat="course in schoolProduct.path.courses">
        <div class="col-xs-6" >
          <div class="course-image col-xs-12 text-right col-md-5">
            <img ng-if="course.image_url" ng-src="{{ course.image_url }}" alt="{{ course.name }}">
            <img ng-if="!course.image_url" src="assets/images/missing-course-logo.png">
          </div>
        </div>

        <div class="col-xs-6" >
          <div class="info">
            <h3 class="title">
              {{ course.name }}
            </h3>
            <span class="subtitle">
              {{ course.description }}
            </span>
            <span class="text-light-gray text-semibold text-xs" style="cursor:pointer"
                  ng-if="!course.details" ng-click="toggleDetails(course)">
              VER CURSO DETALHADO
            </span>
            <span class="text-light-gray text-semibold text-xs" style="cursor:pointer"
                  ng-if="course.details" ng-click="toggleDetails(course)">
              ESCONDER DETALHE DO CURSO
            </span>

            <content-tree type="home" ng-model="course" ng-show="course.details"></content-tree>
          </div>
        </div>
      </div>
      <div class="text-center" ng-show="!$loader.isLoading">
        <ul class="pagination" ed-pagination="schoolProduct.path.courses.pagingInfo" refresh="getCourses(page)">
          <li ed-pagination-previous>
            <a href=""><i class="fa fa-caret-left"></i></a>
          </li>
          <li ed-pagination-page="page" ng-repeat="page in paginationCtrl.pages">
            <a href="">{{ page }}</a>
          </li>
          <li ed-pagination-next>
            <a href=""><i class="fa fa-caret-right"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</article>
