/*********************************************************************
*
*  layout/checkout/wizard/complete
*  Registration complete step styles
*
*********************************************************************/
.registration-complete {
  .form-title {
    margin: 0;
  }
}

.registration-complete, .registration-payment {
  .panel {
    hr {
      margin-left: -20px;
      width: calc(100% + 40px);
    }
    label {
      font-family: 'Roboto';
      font-weight: 100;
      font-size: 16px;
      color: $gray;
    }
    label:after {
      color: red;
    }
    input.form-control, select.form-control {
      border: 1px solid #adadad;
      background-color: $white;
      padding: 10px;
      border-radius: 2px;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 16px;
    }
    select.form-control {
      padding: 5px 10px;
    }
  }
}
