<form name="addressForm">
  <h4 class="form-title">
    <!-- <i class="fa fa-map-marker"></i> -->
    <span>2. Endereço</span>
  </h4>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group required" ng-class="{'has-error': !addressForm.street.$pristine && addressForm.street.$invalid, 'has-success': addressForm.street.$valid}">
        <label class="control-label">Logradouro</label>
        <input type="text" ng-model="address.street" name="street" class="form-control" required>
        <p class="help-block" ng-show="addressForm.street.$error.required && !addressForm.street.$pristine">O campo é obrigatório</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !addressForm.number.$pristine && addressForm.number.$invalid, 'has-success': addressForm.number.$valid}">
        <label class="control-label">Nº</label>
        <input type="text" ng-model="address.number" name="number" class="form-control" required>
        <p class="help-block" ng-show="addressForm.number.$error.required && !addressForm.number.$pristine">O campo é obrigatório</p>
      </div>
      <div class="form-group">
        <label class="control-label">Complemento</label>
        <input type="text" ng-model="address.complement" name="complement" class="form-control">
      </div>
      <div class="form-group required" ng-class="{'has-error': !addressForm.district.$pristine && addressForm.district.$invalid, 'has-success': addressForm.district.$valid}">
        <label class="control-label">Bairro</label>
        <input type="text" ng-model="address.district" name="district" class="form-control" required>
        <p class="help-block" ng-show="addressForm.district.$error.required && !addressForm.district.$pristine">O campo é obrigatório</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group required" ng-class="{'has-error': !addressForm.city.$pristine && addressForm.city.$invalid, 'has-success': addressForm.city.$valid}">
        <label class="control-label">Cidade</label>
        <input type="text" ng-model="address.city" name="city" class="form-control" required>
        <p class="help-block" ng-show="addressForm.city.$error.required && !addressForm.city.$pristine">O campo é obrigatório</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !addressForm.state.$pristine && addressForm.state.$invalid, 'has-success': addressForm.state.$valid}">
        <label class="control-label">Estado</label>
        <select ng-model="address.state" name="state" class="form-control" required>
          <option value="AC">Acre</option>
          <option value="AL">Alagoas</option>
          <option value="AM">Amazonas</option>
          <option value="AP">Amapá</option>
          <option value="BA">Bahia</option>
          <option value="CE">Ceará</option>
          <option value="DF">Distrito Federal</option>
          <option value="ES">Espirito Santo</option>
          <option value="GO">Goiás</option>
          <option value="MA">Maranhão</option>
          <option value="MG">Minas Gerais</option>
          <option value="MS">Mato Grosso do Sul</option>
          <option value="MT">Mato Grosso</option>
          <option value="PA">Pará</option>
          <option value="PB">Paraíba</option>
          <option value="PE">Pernambuco</option>
          <option value="PI">Piauí</option>
          <option value="PR">Paraná</option>
          <option value="RJ">Rio de Janeiro</option>
          <option value="RN">Rio Grande do Norte</option>
          <option value="RO">Rondônia</option>
          <option value="RR">Roraima</option>
          <option value="RS">Rio Grande do Sul</option>
          <option value="SC">Santa Catarina</option>
          <option value="SE">Sergipe</option>
          <option value="SP">São Paulo</option>
          <option value="TO">Tocantins</option>
        </select>
        <p class="help-block" ng-show="addressForm.state.$error.required && !addressForm.state.$pristine">O campo é obrigatório</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !addressForm.zip_code.$pristine && addressForm.zip_code.$invalid, 'has-success': addressForm.zip_code.$valid}">
        <label class="control-label">CEP</label>
        <input type="text" ng-model="address.zip_code" ui-mask="99999-999" name="zip_code" class="form-control" required>
        <p class="help-block" ng-show="addressForm.zip_code.$error.required && !addressForm.zip_code.$pristine">O campo é obrigatório</p>
      </div>
    </div>
  </div>
</form>
