<form name="customerForm">
  <h4 class="form-title">
    <!-- <i class="fa fa-edit"></i> -->
    <span>1. Dados Pessoais</span>
  </h4>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group has-feedback required" ng-class="{'has-error': !customerForm.first_name.$pristine && customerForm.first_name.$invalid, 'has-success': customerForm.first_name.$valid}">
        <label class="control-label">Nome</label>
        <input type="text" ng-model="customer.first_name" name="first_name" class="form-control" required>
        <p class="help-block" ng-show="customerForm.first_name.$error.required && !customerForm.first_name.$pristine">O campo é obrigatório</p>
        <p class="help-block" ng-show="customerForm.first_name.$error.email && !customerForm.first_name.$pristine">Este campo deve ser um e-email válido</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !customerForm.last_name.$pristine && customerForm.last_name.$invalid, 'has-success': customerForm.last_name.$valid}">
        <label class="control-label">Sobrenome</label>
        <input type="text" ng-model="customer.last_name" name="last_name" class="form-control" required>
        <p class="help-block" ng-show="customerForm.last_name.$error.required && !customerForm.last_name.$pristine">O campo é obrigatório</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !customerForm.email.$pristine && customerForm.email.$invalid, 'has-success': customerForm.email.$valid}">
        <label class="control-label">E-mail</label>
        <input type="email" ng-model="customer.email" name="email" class="form-control" required>
        <p class="help-block" ng-show="customerForm.email.$invalid">
          <span ng-show="customerForm.email.$error.email && !customerForm.email.$pristine">Preencha com um email válido</span>
          <span ng-show="customerForm.email.$error.required && !customerForm.email.$pristine">O campo é obrigatório</span>
        </p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !customerForm.cpf.$pristine && customerForm.cpf.$invalid, 'has-success': customerForm.cpf.$valid}">
        <label class="control-label">CPF</label>
        <input type="text" ng-model="customer.cpf" ng-cpf ui-mask="999.999.999-99" name="cpf" ng-change="cleanServerErrors(customerForm.cpf)" class="form-control" required>
        <p class="help-block" ng-show="customerForm.cpf.$error.required && !customerForm.cpf.$pristine">O campo é obrigatório</p>
        <p class="help-block" ng-show="customerForm.cpf.$error.cpf && !customerForm.cpf.$pristine">Preencha com um CPF válido</p>
        <p class="help-block" ng-show="customerForm.cpf.$error.server && !customerForm.cpf.$pristine">{{ customerForm.cpf.message }}</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !customerForm.rg.$pristine && customerForm.rg.$invalid, 'has-success': customerForm.rg.$valid}">
        <label class="control-label">Identidade</label>
        <input type="text" ng-model="customer.rg" name="rg" ng-change="cleanServerErrors(customerForm.rg)" class="form-control" required>
        <p class="help-block" ng-show="customerForm.rg.$error.required && !customerForm.rg.$pristine">O campo é obrigatório</p>
        <p class="help-block" ng-show="customerForm.rg.$error.server && !customerForm.rg.$pristine">{{ customerForm.rg.message }}</p>
      </div>
      <div class="form-group required" ng-class="{'has-error': !customerForm.born_at.$pristine && customerForm.born_at.$invalid, 'has-success': customerForm.born_at.$valid}">
        <label class="control-label">Data de nascimento</label>
        <input type="text" ng-model="customer.bornAt" ui-mask="99/99/9999" name="born_at" class="form-control" required>
        <p class="help-block" ng-show="customerForm.born_at.$error.required && !customerForm.born_at.$pristine">O campo é obrigatório</p>
      </div>
    </div>
    <div class="col-xs-12- col-md-6">
      <div class="form-group required" ng-class="{'has-error': !customerForm.phone.$pristine && customerForm.phone.$invalid, 'has-success': customerForm.phone.$valid}">
        <label class="control-label">Telefone</label>
        <input type="text" ui-mask="(99) 99999-999?9" ng-model="customer.phone" name="phone" class="form-control" required>
        <p class="help-block" ng-show="customerForm.phone.$error.required && !customerForm.phone.$pristine">O campo é obrigatório</p>
      </div>
      <div class="form-group">
        <label class="control-label">Skype</label>
        <input type="text" ng-model="customer.skype" name="skype" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Empresa</label>
        <input type="text" ng-model="customer.company_name" name="company_name" class="form-control">
      </div>
      <div class="form-group">
        <label class="control-label">Cargo</label>
        <input type="text" ng-model="customer.company_position" name="company_position" class="form-control">
      </div>
    </div>
  </div>
</form>
