<div class="forum-panel">
  <div hide-on-load="question" class="question-page container">
    <div class="panel-body">
      <div class="question-header">
        <a type="button" class="btn btn-default btn-xs btn-labeled" link-to="school.forums.forum.questions({ topicId: $state.params.topicId })">
          <i class="fa fa-arrow-left btn-label"></i>
          <span>Voltar</span>
        </a>
      </div>
      <article class="question row">
        <div class="question-user col-xs-12 col-sm-1">
          <img class="avatar" ng-src="{{ question.user.cover_image_url }}" alt="">
          <span class="name">{{ question.user | fullname }}</span>
          <i class="fa" ng-class="{'fa-group': question.user.type == 'Collaborator', 'fa-graduation-cap': question.user.type == 'Student'}" tooltip="{{ question.user.type == 'Collaborator' ? 'Professor' : 'Aluno' }}"></i>
        </div>
        <div class="content col-xs-12 col-sm-11">
          <timeago ng-model="question.created_at" class="time"></timeago>
          <h3 class="title">{{ question.title }}</h3>
          <div class="description" ed-bind-html="question.description"></div>
          <!-- <div class="votes">
            <a class="vote up active">
              <span>80</span>
              <i class="fa fa-thumbs-up"></i>
            </a>
            <a class="vote down">
              <span>30</span>
              <i class="fa fa-thumbs-down"></i>
            </a>
          </div> -->
        </div>
      </article>
      <hr>
      <div class="answer-action">
        <ck-editor ng-model="answer.text" hide-source="true"></ck-editor>
        <button ng-disabled="!answer.text || answer.text == ''" ng-click="postAnswer(answer)" class="btn btn-success pull-right">Responder</button>
        <spinner name="postAnswer" class="small"></spinner>
      </div>
      <div ng-if="question.forum_answers == null || question.forum_answers.length == 0" class="note note-warning">
        <h4 class="note-title">Atenção!</h4>
        Ainda não há respostas para esta pergunta.
      </div>
      <section class="highlighted-answers">
        <h4 ng-if="question.highlighted_answers != null && question.highlighted_answers.length > 0">
          <i class="glyphicon glyphicon-pushpin"></i>
          <span>Respostas destacadas</span>
        </h4>
        <article ng-repeat="answer in question.highlighted_answers" class="answer row">
          <div class="user col-xs-12 col-sm-1">
            <img class="avatar" ng-src="{{ answer.user.cover_image_url }}" alt="{{ answer.user | fullname }}">
            <span class="name">{{ answer.user | fullname }}</span>
            <i class="fa" ng-class="{'fa-group': answer.user.type == 'Collaborator', 'fa-graduation-cap': answer.user.type == 'Student'}" tooltip="{{ answer.user.type == 'Collaborator' ? 'Professor' : 'Aluno' }}"></i>
          </div>
          <div class="content col-xs-12 col-sm-11">
            <timeago ng-model="question.created_at" class="time"></timeago>
            <div class="text" ed-bind-html="answer.text"></div>
            <!-- <div class="votes">
              <a class="vote up active">
                <span>80</span>
                <i class="fa fa-thumbs-up"></i>
              </a>
              <a class="vote down">
                <span>30</span>
                <i class="fa fa-thumbs-down"></i>
              </a>
            </div> -->
          </div>
        </article>
      </section>
      <section class="question-answers">
        <h4 ng-if="question.answers != null && question.answers.length > 0">
          <i class="fa fa-graduation-cap"></i>
          <span>Respostas dos alunos</span>
        </h4>
        <article ng-repeat="answer in question.answers | orderBy:'created_at':true" class="answer row">
          <div class="user col-xs-12 col-sm-1">
            <img class="avatar" ng-src="{{ answer.user.cover_image_url }}" alt="{{ answer.user | fullname }}">
            <span class="name">{{ answer.user | fullname }}</span>
            <i class="fa" ng-class="{'fa-group': answer.user.type == 'Collaborator', 'fa-graduation-cap': answer.user.type == 'Student'}" tooltip="{{ answer.user.type == 'Collaborator' ? 'Professor' : 'Aluno' }}"></i>
          </div>
          <div class="content col-xs-12 col-sm-11">
            <timeago class="time" ng-model="answer.created_at"></timeago>
            <div class="text" ed-bind-html="answer.text"></div>
            <!-- <div class="votes">
              <a class="vote up active">
                <span>80</span>
                <i class="fa fa-thumbs-up"></i>
              </a>
              <a class="vote down">
                <span>30</span>
                <i class="fa fa-thumbs-down"></i>
              </a>
            </div> -->
          </div>
        </article>
      </section>
    </div>
  </div>
  <spinner name="question"></spinner>
</div>
