<div class="checkout">
  <div class="container checkout-panel">
    <div class="col-xs-12">
      <h2 class="page-title">
        <span>Carrinho de compras</span>
      </h2>
    </div>
    <hr>
    <div class="col-xs-12 col-md-8">
      <div class="cart">
        <div ng-if="order.items == undefined || order.items.length == 0" class="note note-warning">
          Ainda não há items no seu carrinho.
        </div>

        <div ng-include="'templates/checkout/cart_product.html'" ng-repeat="item in order.items"></div>

      </div>
      <spinner name="cart"></spinner>
    </div>
    <div class="col-xs-12 col-md-4">
      <div ng-include="'templates/shared/cart_total_panel.html'"></div>

      <div ng-include="'templates/shared/payment_methods_panel.html'"></div>

      <div ng-include="'templates/shared/help_panel.html'"></div>

      <div ng-include="'templates/shared/secure_site.html'"></div>
    </div>
  </div>
</div>
