<section class="course-list home" ng-if="schoolProducts != null && schoolProducts.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-height text-center-xs">
        <h2 class="page-title">Cursos em destaque</h2>
        <p class="page-text">
          OAB, Analista e Inovações do CPC.
          Venha conhecer o Curso Exato, o único curso online com uma equipe de juristas como Sylvio Capanema, Nagib Slaib Filho, Alexandre Câmara, entre outros.
          Qualidade didática aliada à alta resolução de imagem e som.
        </p>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-height col-bottom owl-card-controls text-right hidden-xs" ng-if="highlights.length > 3">
        <button type="button" class="owl-prev"><i class="fa fa-chevron-left"></i></button>
        <button type="button" class="owl-next active"><i class="fa fa-chevron-right"></i></button>
      </div>
    </div>
    <div class="row owl-card-carousel">
      <div class="owl-card-item" ng-repeat="schoolProduct in highlights" ng-include="'templates/product_thumb.html'"></div>
    </div>
    <div class='text-center row'>
      <a link-to="school.products" title="Ver todos os cursos" class="btn-transparent-blue uppercase">Ver todos os cursos</a>
    </div>
  </div>
</section>

<section class="main-header home-description">
  <div class="banner" style="min-height: 0;">
    <div class="image-container">
      <img src="assets/images/banners/home2.jpg" class="image-full">
      <div class="black-overlay"></div>
    </div>

    <div class="text-area-white container">
      <h2>A MEDIDA EXATA DO SEU SUCESSO PROFISSIONAL!</h2>
      <p>Visando preparar os discentes com a equipe mais gabaritada do país, o professor Sylvio Capanema selecionou entre Desembargadores, Juízes, Promotores de Justiça, Defensores, Advogados, Mestres e Doutores, os melhores professores para seus cursos inaugurais preparatórios para a OAB, Analista Básico e Módulos Jurídicos.</p>
    </div>
  </div>
</section>
