<header class="school-header">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu">
          <span class="sr-only">Abrir navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" link-to="school.home">
          <img src="assets/images/logo.png" alt="exato-cursos-logo">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a link-to="school.products">Cursos</a>
          </li>
          <li ng-if="!$session.get()" class="hidden-xs" ng-class="{'current': $location.path() == '/login'}">
            <a link-to="school.auth.login" ng-class="{'btn-green': $location.path() != '/login'}">Entrar</a>
          </li>
          <li ng-if="!$session.get()" class="visible-xs">
            <a link-to="school.auth.login">Entrar</a>
          </li>
          <li>
            <a link-to="school.checkout.cart" class='cart-link hidden-xs'>
              <i class="fa fa-shopping-cart"></i>
            </a>
            <a link-to="school.checkout.cart" class='visible-xs'>Carrinho</a>
          </li>
          <!-- <li ng-if="$session.get() != undefined">
            <a link-to="school.dashboard.enrollments">Meus cursos</a>
          </li> -->
          <li ng-if="$session.get() != undefined" class="dropdown">
            <a class="dropdown-toggle pointer" data-toggle="dropdown">
              <span>{{ $session.get().first_name }}</span>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a link-to="school.dashboard.enrollments">
                  <!-- <i class="fa fa-list-ul"></i> -->
                  <span>Meus cursos</span>
                </a>
              </li>
              <li>
                <a link-to="school.dashboard.orders">
                  <!-- <i class="fa fa-list-ul"></i> -->
                  <span>Meus Pedidos</span>
                </a>
              </li>
              <!-- <li>
                <a link-to="school.messages.inbox">
                  <i class="fa fa-inbox"></i>
                  <span>Mensagens</span>
                </a>
              </li> -->
              <li>
                <a link-to="school.auth.logout">
                  <!-- <i class="fa fa-power-off"></i> -->
                  <span>Sair</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="app-content">
  <div ui-view="root" ng-class="{'loading': $loader.get('global').isLoading}">
  </div>
  <spinner name="global" class="large"></spinner>
</div>


<footer class="newsletter-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 table-cell-md">
        <p>Fique sabendo sobre os novos cursos e receba cupons de desconto.</p>
      </div>
      <div class="col-xs-12 col-md-6 table-cell-md">
        <div ng-include="'templates/shared/mailchimp_subscribe.html'"></div>
      </div>
    </div>
  </div>
</footer>
<footer class="school-footer">
  <div class="container">
    <section class="footer-info row">
      <div class="col-xs-12 col-sm-3">
        <h4>Sobre a Exato Cursos</h4>
        <p class="description">
          O Curso Jurídico Exato surge da identificação de uma lacuna no mercado de concursos no que se refere à uma equipe gabaritada, que vivencia o trabalho nos tribunais pátrios e participa das decisões jurídicas do país não como meros operadores do direito mas, sim, como pensadores ativos e formadores de opinião. No exato você pode estudar com docentes que refletem o direito contemporâneo em sua essência.
          <a link-to="school.page.professores">Saiba Mais...</a>
        </p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Páginas</h4>
        <ul>
          <li ng-if="!$session.get()">
            <a link-to="school.auth.login">Entrar</a>
          </li>
          <li>
            <a link-to="school.page.sobre">Sobre</a>
          </li>
          <li>
            <a link-to="school.products">Cursos</a>
          </li>
          <li>
            <a link-to="school.page.contato">Fale Conosco</a>
          </li>
          <li>
            <a link-to="school.page.professores">Corpo Docente</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Nos acompanhe</h4>
        <ul class="footer-social-links">
          <li class="facebook-footer-link">
            <a href="Facebook">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
          </li>
          <li class="twitter-footer-link">
            <a href="Twitter">
              <i class="fa fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li class="linkedin-footer-link">
            <a href="Linkedin">
              <i class="fa fa-linkedin"></i>
              Linkedin
            </a>
          </li>
          <li class="youtube-footer-link">
            <a href="Youtube">
              <i class="fa fa-youtube"></i>
              Youtube
            </a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-3 payment-methods">
        <h4>Formas de Pagamento</h4>
        <div class="text-center">
          <img src="assets/images/formas-pagamento-cartoes.png" alt="Formas de Pagamento">
        </div>
        <div class="text-center">
          <img src="assets/images/formas-pagamento-debito.png" alt="Formas de Pagamento">
          <img src="assets/images/formas-pagamento-boleto.png" alt="Formas de Pagamento">
        </div>
        <div class="text-center">
          <img style="max-width: 40%;" src="assets/images/moip.png" alt="MoIP">
        </div>
      </div>
    </section>
  </div>
</footer>
<footer class="copyright-footer">
  <div class="container">
    <div class="text-center">
      © 2015 Exato Cursos. Todos os direitos reservados.
    </div>
  </div>
</footer>
