<div class="container-fluid page-body">
  <div class="container">
    <div class="row" ng-if="!(page.slug == 'contato' || 'sobre')">
      <div class="col-xs-12">
        <h2 class="page-title">{{ page.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12" ed-bind-html="page.content" ng-if="!(page.slug == 'contato' || 'professores' || 'sobre')"></div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-if="$state.is('school.page.contato')" ng-include="'templates/page/contato.html'"></div>

      <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-if="$state.is('school.page.professores')" ng-include="'templates/page/professores.html'"></div>

      <div class="col-xs-12" ng-if="$state.is('school.page.sobre')" ng-include="'templates/page/sobre.html'"></div>
    </div>
  </div>
</div>
