<section class="course-list home" ng-if="schoolProducts != null && schoolProducts.length > 0">
  <div class="container">
    <div class="col-xs-12 text-right filter-select">
      <label>Categoria:</label>
      <select ng-model="filterOptions.name">
        <option value="undefined">Todas</option>
        <option ng-repeat="category in categories" value="{{ category.title }}">{{ category.title }}</option>
      </select>
    </div>

    <div ng-hide="(schoolProducts | filter: hasCategory(filterOptions.name)).length == 0">
      <div class="col-xs-12 col-sm-4" ng-repeat="schoolProduct in schoolProducts | filter: hasCategory(filterOptions.name)" ng-include="'templates/product_thumb.html'"></div>
    </div>
    <div ng-hide="(schoolProducts | filter: hasCategory(filterOptions.name)).length > 0">
      <div class="col-xs-12 col-sm-4" ng-repeat="schoolProduct in schoolProducts" ng-include="'templates/product_thumb.html'"></div>
    </div>
  </div>
</section>
